{% load static %}

<nav class="navbar navbar-default navbar-fixed white navbar-dark bootsnav">

    <div class="container">

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand">

                <img src="{% static 'site_page/assets/images/logo.png' %}" class="logo logo-display m-top-10"
                     alt="">
                <img src="{% static 'site_page/assets/images/logo.png' %}" class="logo logo-scrolled" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                {% for page in nav_pages %}
                    <li><a href="/{{ page.path}}">{{ page.title}}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>


    <!-- Start Side Menu -->
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="widget">
            <h6 class="title">Custom Pages</h6>
            <ul class="link">
                {% for page in nav_pages %}
                    <li><a href="/{{ page.path }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- End Side Menu -->

</nav>